{% extends "main_template.html" %}
{% load render_partial %}


{% block content %}


    <div class="flex min-h-screen flex-col">

      <div
        class="fixed inset-x-0 top-1/3 mx-auto h-1/3 w-1/4 bg-primary/50 blur-[200px]"
      ></div>

      <main class="flex-grow bg-background pb-14 pt-36 xs:pt-36">
      {% comment %} {% render_partial 'main:banner' %} {% endcomment %}


        <!-- Main Banners section Start -->
        <section class="mb-8">
          <div class="container relative grid grid-cols-12 gap-x-4 gap-y-2">
            <div class="col-span-12 lg:col-span-8">
              <!-- Swiper -->
              <div class="swiper banner-slider rounded-lg shadow-base">
                <div class="swiper-wrapper">
                  {% comment %} {% render_partial 'main:sliders' %} {% endcomment %}

                </div>
                <div class="swiper-button-next hidden md:flex"></div>
                <div class="swiper-button-prev hidden md:flex"></div>
                <div class="swiper-pagination main-banner-pagination"></div>
              </div>
            </div>
            <div class="col-span-12 hidden xs:block lg:col-span-4">
              <div
                class="flex h-full flex-row justify-between gap-x-2 lg:flex-col"
              >
              {% comment %} {% render_partial 'main:sliders2' %} {% endcomment %}



              </div>
            </div>
          </div>
        </section>
        <!-- Main Banners section End -->

        <!-- Special Products section Start -->




      {% render_partial 'file:latest_files' %}
      {% render_partial 'file:expensive_files' %}
      {% render_partial 'file:rich_groups' %}
        <!-- Special Products section End -->


      <div id="special-products">
        {% comment %} {% render_partial 'product:special' %} {% endcomment %}
      </div>


{% comment %}
        <!-- Newest Products section Start -->
        {% render_partial 'product:recent' %}
        <!-- Newest Products section End -->

        <!-- Category Banners section Start -->
        {% render_partial 'main:main_slider' %}
        <!-- Category Banners section End -->

        <!-- Category section Start -->
        {% render_partial 'product:popular_group' %}
        <!-- Category section End -->

        <!-- Special Products section Start -->
        {% render_partial 'product:top' %}

        <!-- Special Products section End -->

        <!-- Blog section Start -->
        {% render_partial 'blog:show_blog' %}


        <!-- Blog section End --> {% endcomment %}


      </main>

    </div>



<script>
  document.querySelector('[data-dismiss="modal"]').addEventListener('click', function() {
    document.getElementById('successModal').classList.add('hidden');
  });

</script>

{% endblock content %}