
{% if blogs|length > 0 %}



<section class="mb-6">
  <div class="container relative">
    <!-- Section Header -->
    <div class="mb-4 flex items-center justify-between">
      <h2 class="font-medium md:text-lg lg:text-xl">مطالب خواندنی کتابوو</h2>
      <a
        class="flex items-center gap-x-2 py-2 text-sm text-primary lg:text-base"
        href="{% url 'blog:blogs' %}"
        title="مشاهده تمامی مقالات وبلاگ"
      >
        مشاهده همه
        <span>
          <svg class="h-5 w-5 lg:h-6 lg:w-6">
            <use xlink:href="#chevron-left" />
          </svg>
        </span>
      </a>
    </div>

    <!-- Section Content -->
    <div class="swiper blog-slider p-px">
      <div class="swiper-wrapper">
        {% for blog in blogs %}
        <div class="swiper-slide">
          <div
            class="border-gradient group relative rounded-base p-px before:absolute before:-inset-px before:h-[calc(100%+2px)] before:w-[calc(100%+2px)] before:rounded-base"
          >
            <!-- Blog Card -->
            <div>
              <a href="{{blog.get_absolute_url}}" title="{{blog.subject}}">
                <div
                  class="relative rounded-xl bg-muted p-2 shadow-base"
                >
                  <!-- image -->
                  <div class="mb-2 md:mb-5" draggable="false">
                    <img
                      alt="تصویر مقاله {{blog.subject}}"
                      class="mx-auto w-auto rounded-lg rounded-bl-3xl"
                      src="{{media_url}}{{blog.image_name}}"
                      loading="lazy"
                    />
                  </div>
                  <!-- title -->
                  <div class="mb-2">
                    <p
                      class="line-clamp-2 h-10 text-sm md:h-12 md:text-base"
                    >
                      {{blog.subject}}
                    </p>
                  </div>
                  <div class="flex justify-end">
                    <p class="text-xs text-primary xs:text-sm">
                      {{blog.time_since_posted}}
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>

  <!-- Notification Container -->
  <div id="notification" class="hidden">
    <div class="notification-content">
      <span>محصول به سبد خرید اضافه شد!</span>
      <button id="go-to-cart" class="btn">رفتن به سبد خرید</button>
    </div>
  </div>
</section>

{% endif %}
