{% load humanize %}
<section class="mb-8">
  <div class="container relative">
    <!-- Section Header -->
    <div class="mb-4 flex items-center justify-between">
      <h1 class="font-medium md:text-lg lg:text-xl">     پر فروش ترین محصولات</h1>
    </div>

    <!-- Section Content -->
    <div class="swiper product-slider p-px">
      <div class="swiper-wrapper">


        {% for file in files %}
        <div class="swiper-slide">
          <!-- Product Card -->
          <div
            class="border-gradient group relative rounded-base p-px before:absolute before:-inset-px before:h-[calc(100%+2px)] before:w-[calc(100%+2px)] before:rounded-base"
          >
            <div
              class="relative rounded-xl bg-muted p-2 shadow-base md:p-5"
            >
              <!-- image -->
                              <!-- image -->
              <div class="mb-2 md:mb-5" draggable="false">
                <a  href="{% url 'file:file_detail' slug=file.slug %}" aria-label="{{file.image}}">
                  <img
                    alt="{{file.title}}"
                    class="mx-auto w-32 sm:w-40 md:w-48 lg:w-auto rounded-lg"
                    src="{{file.image}}"
                    srcset="{{media_url}}{{file.image}}"
                  />
                </a>
              </div>

              <!-- title -->
              <div class="mb-2">
                <a
                  class="line-clamp-2 h-10 text-sm md:h-12 md:text-base"
                  href="{% url 'file:file_detail' slug=file.slug %}"
                  aria-label="{{file.title}}"
                >
                {{file.title}}
                </a>
              </div>
              <!-- Prices -->
            <div class="flex flex-col">
                <!-- Old price -->
                {% if file.price > file.get_price_by_discount %}
                <div class="h-5 text-left">
                  <del class="text-sm text-text/60 decoration-warning md:text-base">
                    {{ file.price | intcomma }}
                  </del>
                </div>
                {% endif %}
                <!-- Discount & New Price -->
                <div class="flex items-center justify-between">
                  <div>
                    {% if file.price > file.get_price_by_discount %}
                    <p class="w-9 rounded-full bg-warning py-px text-center text-sm text-white">
                    {{file.get_discount_percentage}}%
                    </p>
                    {% endif %}
                  </div>
                 <button type="button" onclick="addToCart({{ file.id }}); showSuccessModal('cartSuccessModal', 'cartSuccessSound');"
                        class="cursor-pointer">
                    <svg class="h-6 w-6">
                        <use xlink:href="#cart" />
                    </svg>
                </button>
                  <!-- New price -->
                  <div class="text-sm font-bold text-primary md:text-base">
                    {% if file.price > file.get_price_by_discount %}
                    {{ file.get_price_by_discount | intcomma }}
                    <span class="text-xs font-light md:text-sm">تومان</span>
                    {% else %}
                    {{ file.price | intcomma }}
                    <span class="text-xs font-light md:text-sm">تومان</span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}



      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>

<script>
  // تابع جداگانه برای نمایش مدال موفقیت و پخش صدا
  function showCartSuccess() {
    const modal = document.getElementById("commentSuccessModal");
    const sound = document.getElementById("cartSuccessSound");

    if (modal) {
      modal.classList.remove("hidden");
      modal.classList.add("block");

      // بعد از 2 ثانیه مخفی شود
      setTimeout(() => {
        modal.classList.remove("block");
        modal.classList.add("hidden");
      }, 2000);
    }

    if (sound) {
      sound.play();
    }
  }
</script>
