{% load humanize %}
<section class="mb-8">
  <div class="container relative">
    <!-- Section Header -->
    <div class="mb-4 flex items-center justify-between">
      <div class="font-medium md:text-lg lg:text-xl">محصولات مرتبط</div>
    </div>

    <!-- Section Content -->
    <div class="swiper product-slider p-px">
      <div class="swiper-wrapper">
        {% for product in related_products %}
        <div class="swiper-slide">
          <!-- Product Card -->
          <div class="border-gradient group relative rounded-base p-px before:absolute before:-inset-px before:h-[calc(100%+2px)] before:w-[calc(100%+2px)] before:rounded-base">
            <div class="relative rounded-xl bg-muted p-2 shadow-base md:p-5">
              <!-- image -->
              <div class="mb-2 md:mb-5" draggable="false">
                <a href="{{ product.get_absolute_url }}" aria-label="{{ product.title }}">
                  <img
                    alt="{{ product.title }}"
                    class="mx-auto w-32 sm:w-40 md:w-48 lg:w-auto rounded-lg"
                    src="{{ product.image.url }}"
                    srcset="{{ product.image.url }}"
                  />
                </a>
              </div>

              <!-- title -->
              <div class="mb-2">
                <a
                  class="line-clamp-2 h-10 text-sm md:h-12 md:text-base"
                  href="{{ product.get_absolute_url }}"
                  aria-label="{{ product.title }}"
                >
                  {{ product.title }}
                </a>
              </div>

              <!-- Prices -->
              <div class="flex flex-col">
                <div class="flex items-center justify-between">
                  <div></div>
                 <a onclick="addToCart({{ file.id }}); showSuccessModal('cartSuccessModal', 'cartSuccessSound');"
   aria-label="اضافه کردن {{file.title}} به سبد خرید">
  <span class="cursor-pointer">
    <svg class="h-6 w-6">
      <use xlink:href="#cart" />
    </svg>
  </span>
</a>

                  <!-- Price -->
                  <div class="text-sm font-bold text-primary md:text-base">
                    {{ product.price|intcomma }}
                    <span class="text-xs font-light md:text-sm">تومان</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <div class="col-span-full text-center py-8">
          <p class="text-gray-500">محصول مرتبطی یافت نشد</p>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>